<ul class="sidebar-nav">
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/restaurants">All restaurants</a>
  </li>
  <li>
    <a href="/locations">All locations</a>
  </li>
  <li>
    <a href="/cuisines">All cuisines</a>
  </li>
  <li>
    <a href="/restaurantinstances">All restaurant instances</a>
  </li>
  <li>
    <hr>
  </li>
  <li>
    <a href="/restaurant/create">Create new restaurant</a>
  </li>
  <li>
    <a href="/location/create">Create new location</a>
  </li>
  <li>
    <a href="/cuisine/create">Create new cuisine</a>
  </li>
  <li>
    <a href="/restaurantinstance/create">Create new restaurant instance (location)</a>
  </li>
</ul>
